*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(236, 182, 235);
}
.container{
    box-shadow: 0 0 4px 1px rgb(8, 4, 4);
    width: 400px;
    height: 350px;
    background-color: rgb(147, 233, 239);
    border-radius: 10px;
    border: 5px solid;
    display: flex;
    /* justify-content: center; */
    align-items: center;  
    flex-direction: column;  
}
.container p{
    color: rgb(7, 44, 3);
    margin: 10px;
    font-size: 30px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.date-container label{
    font-size: larger;
    margin-right:10px;    
}
#birthDate,#currentDate{
    width: 140px;
    height: 40px;
    border:3px solid;
    box-shadow: 0 0 2px 1px rgb(210, 197, 197);
    border-radius: 10px;
    margin-top: 10px;
    padding: 4px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(16, 14, 14);
    font-size: larger;
}
#calculateBtn{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    /* background-color: rgb(198, 204, 198);
    color:white; */
    border:3px solid;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgb(56, 84, 56);
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(163, 129, 158);
}
#calculateBtn:active{
  box-shadow: 0 0 0 0;   
}